---
---
<!-- _layouts/bib_trial.html -->

<div class="row">
  <div id="{{entry.key}}" class="col-sm-12" display="block">
    {{ reference | newline_to_br }}

    <br/>

    {%- comment -%}
    Show ONE button only:
    priority = pdf (local) > url > doi
    {%- endcomment -%}

    {% if entry.pdf %}
      <a href="{{ site.url }}{{ site.baseurl }}/assets/papers/{{ entry.pdf }}.pdf" target="_blank" rel="noopener noreferrer">
        <button class="btn-pdf">Link</button>
      </a>
    {% elsif entry.url %}
      <a href="{{ entry.url }}" target="_blank" rel="noopener noreferrer">
        <button class="btn-pdf">Link</button>
      </a>
    {% elsif entry.doi %}
      <a href="https://doi.org/{{ entry.doi }}" target="_blank" rel="noopener noreferrer">
        <button class="btn-pdf">Link</button>
      </a>
    {% endif %}

  </div>
</div>